<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="/fragments/common :: common_head"></div>
<script type="text/javascript" src="../../resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
<title>Courses</title>
</head>

<body class="container-sm">

    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav  text-white">
                <li class="nav-item"><a class="nav-link" th:href="@{/main_page}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/buildings/getAll}">Buildings</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriums/getAll}">Auditoriums</a></li>
                <li class="nav-item"><a class="nav-link" href="@{/groups/getAll}">Groups</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/faculties/getAll}">Faculties</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/students/getAll}">Students</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/teachers/getAll}">Teachers</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lessons/getAll}">Lessons</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lessonTypes/getAll}">Lesson Types</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/timeSlots/getAll}">Time Slots</a></li>
            </ul>
        </nav>
    </div>

    <h3 align="center">List of courses</h3>
    <a th:href="@{/courses/edit}" class="btn btn-secondary">Add new course</a>

    <div>
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr>
                    <td><strong>Course name</strong></td>
                    <td><strong>Faculty Name</strong></td>
                    <td><strong>Edit</strong></td>
                    <td><strong>Delete</strong></td>
                </tr>
            </thead>
            <tr th:each="course:${courses}" class="table-success">
                <td th:text="${course.name}"></td>
                <td th:text="${course.facultyName}"></td>
                <td><a th:href="@{/courses/edit/(id=${course.id})}" class="btn btn-warning">Edit</a></td>
                <td><a th:href="@{/courses/delete/(id=${course.id})}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>

    <div th:insert="fragments/common :: deleteEntry"></div>

</body>
</html>
