<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="/fragments/common :: common_head"></div>
<script type="text/javascript" src="../../resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
<title>Lesson Types</title>
</head>
<body class="container-sm">
    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav  text-white">
                <li class="nav-item"><a class="nav-link" th:href="@{/university}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/buildings/getAll}">Buildings</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriums/getAll}">Auditoriums</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/groups/getAll}">Groups</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/faculties/getAll}">Faculties</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/courses/getAll}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/students/getAll}">Students</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/teachers/getAll}">Teachers</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lessons/getAll}">Lessons</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Lesson Types</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/timeSlots/getAll}">Time Slots</a></li>
            </ul>
        </nav>
    </div>
    <h3 align="center">List of Lesson Types</h3>
    <a th:href="@{/lessonTypes/edit}" class="btn btn-secondary">Add new lesson type</a>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <td>Lesson Type Name</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tr th:each="lessonType:${lessonTypes}" class="table-success">
            <td th:text="${lessonType.name}">Lesson Type Name</td>
            <td><a th:href="@{/lessonTypes/delete/(id=${lessonType.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
    <div th:insert="fragments/common :: deleteEntry"></div>
</body>
</html>
