<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<title>List of auditoriums</title>
</head>
<body class="bg-secondary">
    <div class="container">
        <h2 class="text-body">List of all auditoriums.</h2>
    </div>
    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav  text-white">
                <li class="nav-item"><a class="nav-link" href="/universityschedule/main_page">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Auditoriums</a></li>
                <li class="nav-item"><a class="nav-link" href="/universityschedule/groups/allGroups">Groups</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#"> Departments</a></li>
                <li class="nav-item"><a class="nav-link disabled" href="#">Faculties</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <table class="table table-bordered">
            <thead class="bg-primary text-white">
                <tr>
                    <td>Id</td>
                    <td>Number</td>
                    <td>Capacity</td>
                    <td>Building Name</td>
                    <td>Building address</td>
                </tr>
            </thead>
            <tr th:each="auditorium:${auditoriums}" class="table-success">
                <td th:text="${auditorium.id}">Id</td>
                <td th:text="${auditorium.number}">Number</td>
                <td th:text="${auditorium.capacity}">Capacity</td>
                <td th:text="${auditorium.building.name}">Building Name</td>
                <td th:text="${auditorium.building.address}">Building Address</td>
            </tr>
        </table>
    </div>
</body>
</html>