<!DOCTYPE html>
<html>
<head>
<div th:insert="/fragments/common :: common_head"></div>
<script type="text/javascript" src="../../resources/js/faculties.js" th:src="@{/resources/js/faculties.js}"></script>
<script type="text/javascript" src="../../resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
<title>Faculties</title>
</head>
<body class="container-sm">

       

    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav  text-white">
                <li class="nav-item"><a class="nav-link" th:href="@{/main_page}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/buildings/getAll}">Buildings</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriums/getAll}">Auditoriums</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/groups/getAll}">Groups</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Faculties</a></li>
            </ul>
        </nav>
    </div>

 <h3 align="center">List of faculties</h3>
 <a th:href="@{/faculties/edit}" class="btn btn-secondary">Add a new faculty</a>

    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <td>Faculty Name</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tr th:each="faculty:${faculties}" class="table-success">
            <td th:text="${faculty.name}">Faculty Name</td>
            <td><a th:href="@{/faculties/edit/(id=${faculty.id})}" class="btn btn-info">Edit</a></td>
            <td><a th:href="@{/faculties/delete/(id=${faculty.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>


    <div th:insert="fragments/common :: deleteEntry"></div>

</body>
</html>
