<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="/fragments/common :: common_head"></div>
<script type="text/javascript" src="../../resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
<title>Time Slots</title>
</head>
<body class="container-sm">
    <div th:insert="/fragments/common :: nav_menu"></div>
    <h3 align="center">List of Time Slots</h3>
    <a th:href="@{/timeSlots/edit}" class="btn btn-secondary">Add new time slot</a>
    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <td>Time Slot Name</td>
                <td>Time Slot Number</td>
                <td>From time</td>
                <td>Till time</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tr th:each="timeSlot:${timeSlots}" class="table-success">
            <td th:text="${timeSlot.name}">Time Slot Name</td>
            <td th:text="${timeSlot.number}">Time Slot Number</td>
            <td th:text="${timeSlot.startTime}">Start time</td>
            <td th:text="${timeSlot.endTime}">End time</td>
            <td><a th:href="@{/timeSlots/edit/(id=${timeSlot.id})}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/timeSlots/delete/(id=${timeSlot.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>
    <div th:insert="fragments/common :: deleteEntry"></div>
</body>
</html>
