<?xml version="1.0" encoding="UTF-8"?>
<!--copy to <tomcat_home>/conf/server.xml file inside the <GlobalNamingResources> element.-->

<Resource name="jdbc/universityDatabase"
  auth="Container"
  type="javax.sql.DataSource"
  driverClassName="org.postgresql.Driver"
  url="jdbc:postgresql://localhost/university"  
  username="tester"
  password="test"
  maxTotal="20"
  maxIdle="10"
  maxWaitMillis="-1"/>
  