<!DOCTYPE html>
<html>
<head>
<div th:insert="/fragments/common :: common_head"></div>
<title>Update group</title>
</head>
<body>
    <form action="#" th:action="@{/groups/edit}" th:object="${group}" method="post">
        <label for="name">Name</label> <input type="text" th:field="*{name}" id="name" placeholder="Name"> 
        <label for="faculyId" class="col-form-label">Faculty</label> 
        <select class="form-control" th:field="*{facultyId}">
            <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:utext="${faculty.name}"
                th:selected="${faculty.id}==facultyEdit" id="facultyEdit" placeholder="Faculty">Faculty</option>
        </select> <input type="submit" value="Update Group">
    </form>
</body>
</html>
