<form action="#" th:action="@{/groups/add}" th:object="${groupDto}" method="post">
    <label for="name">Name</label> <input type="text" th:field="*{name}" id="name" placeholder="Name">
     <label for="faculyId" class="col-form-label">Faculty</label> 
     <select class="form-control">
        <!-- option th:value=0>Faculty not assign</option-->
        <option th:each="faculty : ${faculties}" th:value="${faculty.id}" th:utext="${faculty.name}"
            th:field="*{facultyId}" id="addFacultyId" placeholder="Faculty">Faculty</option>
    </select> <input type="submit" value="Add Group">
</form>