<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="/fragments/common :: common_head"></div>
<script type="text/javascript" src="../../resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
<title>Schedule</title>
</head>
<body class="container-sm">
    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav  text-white">
                <li class="nav-item"><a class="nav-link" th:href="@{/university}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/buildings/getAll}">Buildings</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriums/getAll}">Auditoriums</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/groups/getAll}">Groups</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/faculties/getAll}">Faculties</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/courses/getAll}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/students/getAll}">Students</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/teachers/getAll}">Teachers</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/teachers/getAll}">Lessons</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lessonTypes/getAll}">Lesson Types</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/timeSlots/getAll}">Time Slots</a></li>
                <li class="nav-item"><a class="nav-link" href=#>Schedule</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <div class="container-sm">
            <p></p>
            <div id="filter">
                <div class="card">
                    <div class="card-header" id="headerOne">
                        <button class="btn btn-secondary btn-sm" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">Filters</button>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#filter">
                        <div class="card-body">
                            <div class="container">
                                <form action="#" th:action="@{/schedule/schedule}" method="get"
                                    th:object="${lessonFilterDto}">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-form-label">Select teacher:</label>
                                                    <select class="form-control form-control-sm" th:field="*{teacherId}">
                                                        <option th:value="null">All teachers</option>
                                                        <option th:each="teacher:${teachers}" th:value="${teacher.id}"
                                                            th:utext="${teacher.firstName+' '+teacher.lastName}"></option>
                                                    </select>
                                                    <span class="font-italic text-danger"
                                                        th:if="${#fields.hasErrors('teacherId')}"
                                                        th:errors="*{teacherId}"></span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-form-label">Select group:</label>
                                                    <select class="form-control form-control-sm" th:field="*{groupId}">
                                                        <option th:value="null">All groups</option>
                                                        <option th:each="group:${groups}" th:value="${group.id}"
                                                            th:utext="${group.name}"></option>
                                                    </select>
                                                    <span class="font-italic text-danger"
                                                        th:if="${#fields.hasErrors('groupId')}" th:errors="*{groupId}"></span>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-form-label">Select period:</label>
                                                    <select class="form-control form-control-sm" id="monthScheduleCheck"
                                                        name="monthScheduleCheck">
                                                        <option value="1">For month</option>
                                                        <option value="0">For day</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group row">
                                                    <label class="col-form-label">Enter date:</label>
                                                    <input type="date" class="form-control form-control-sm"
                                                        th:field="*{date}" th:value=${date} />
                                                    <span class="font-italic text-danger"
                                                        th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-info btn-sm" type="submit">Apply</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <h1 th:text="${reportMessage}"></h1>
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <td><strong>Date</strong></td>
                        <td><strong>Time Slot</strong></td>
                        <td><strong>Time</strong></td>
                        <td><strong>LessonType</strong></td>
                        <td><strong>Auditory</strong></td>
                        <td><strong>Course</strong></td>
                    </tr>
                </thead>
                <th:block th:each="lesson:${lessons}">
                    <tbody>
                        <tr>
                            <td th:text="${#temporals.format(lesson.date, 'dd.MM.yyyy')}"></td>
                            <td th:text="${lesson.timeSlotNumber}"></td>
                            <td th:text="${lesson.timeSlotStartTime+'-'+lesson.timeSlotEndTime}"></td>
                            <td th:text="${lesson.lessonTypeName}"></td>
                            <td th:text="${lesson.auditoriumNumber+', '+lesson.buildingName}"></td>
                            <td th:text="${lesson.courseName}"></td>
                        </tr>
                    </tbody>
                </th:block>
            </table>
            <div class="container-sm">
                <div class="row">
                    <div class="col">Monday</div>
                    <div class="col">Tuesday</div>
                    <div class="col">Wednesday</div>
                    <div class="col">Thursday</div>
                    <div class="col">Friday</div>
                    <div class="col">Saturday</div>
                    <div class="col">Sunday</div>
                </div>
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Date(only day)</h5>
                            <p class="card-text">"${lesson.timeSlotNumber}" "${lesson.courseName}"</p>
                        </div>
                    </div>
                </div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
                <div class="row"></div>
            </div>
        </div>
    </div>
</body>
</html>
