<!DOCTYPE html>
<html lang="en">
<head>
<div th:insert="/fragments/common :: common_head"></div>
<script type="text/javascript" src="../../resources/js/common.js" th:src="@{/resources/js/common.js}"></script>
<title>Buildings</title>
</head>

<body class="container-sm">

    <div>
        <nav class="navbar navbar-expand-sm bg-success navbar-light">
            <ul class="navbar-nav  text-white">
                <li class="nav-item"><a class="nav-link" th:href="@{/main_page}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Buildings</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/auditoriums/getAll}">Auditoriums</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/groups/getAll}">Groups</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/faculties/getAll}">Faculties</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/courses/getAll}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/students/getAll}">Students</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/teachers/getAll}">Teachers</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lessons/getAll}">Lessons</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/lessonTypes/getAll}">Lesson Types</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/timeSlots/getAll}">Time Slots</a></li>
            </ul>
        </nav>
    </div>

    <h3 align="center">List of buildings</h3>

    <a th:href="@{/buildings/edit}" class="btn btn-secondary">Add new building</a>

    <table class="table table-bordered">
        <thead class="bg-primary text-white">
            <tr>
                <td>Building Name</td>
                <td>Building address</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tr th:each="building:${buildings}" class="table-success">
            <td th:text="${building.name}">Building Name</td>
            <td th:text="${building.address}">Building Address</td>
            <td><a th:href="@{/buildings/edit/(id=${building.id})}" class="btn btn-warning">Edit</a></td>
            <td><a th:href="@{/buildings/delete/(id=${building.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
    </table>

    <div th:insert="fragments/common :: deleteEntry"></div>

</body>
</html>
